/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// =============================== CSS Reset ===========================

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: border-box;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ============================= Custom SCSS ==============================

html {
	font-size: rem(16);
	overflow-x: hidden;
}

body {
	font-family: $main-font;
	color: $text-color;
	background-color: $primary-color;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1 {
	font-family: $heading-font;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: $subheading-font;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1em;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 1em;
}

a {
	color: $accent-color;
	text-decoration: none;

	&:hover {
		color: $accent-color-hover;
	}

	&:active {
		color: $accent-color-clicked;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.mobile-only {
	display: none;

	@include mobile {
		display: block;
	}
}

.hidden {
	visibility: collapse;
}

.header-padding {
	padding-top: $nav-header-height;
}

.mixed-phase-text {
	text-shadow: rem(2) rem(2) 0 $highlight-color, rem(-2) rem(-2) 0 $accent-color;
}

.accent-phase-text {
	text-shadow: rem(2) rem(2) 0 $accent-color;
}

.highlight-phase-text {
	text-shadow: rem(2) rem(2) 0 $highlight-color;
}

.info-section {
	padding: $nav-header-height rem(20);
	padding-bottom: 0;

	.section-title {
		text-shadow: rem(2) rem(2) 0 $highlight-color, rem(-2) rem(-2) 0 $accent-color;
	}
}